.product-tile {
  text-align: center;

  &-header {
    position: relative;

    img {
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
    }

    .badge {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }

  &-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .main {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      z-index: 1;
    }

    .alt {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &:hover {
      .alt {
        z-index: 2;
      }
    }
  }

  &-title {
    font-size: 24px;

    span:first-child {
      color: $black;
    }

    span:last-child {
      font-weight: 300;
    }
  }

  &-subtitle {
    font-size: 18px;
    font-weight: 300;
  }

  &-content {
    line-height: 29px;
    margin-bottom: 18px;

    .product-catalog-price {
      display: block;
      text-decoration: line-through;
    }

    .product-price {
      font-size: 24px;

      span {
        color: $brand-primary;
        font-weight: 500;
      }
    }
  }
}
