.footer {
  margin-top: 64px;

  &-primary {
    color: $gray-tertiary;
    background: $main-bg;
    padding: 50px 0;
    text-transform: uppercase;
    margin-bottom: 16px;

    &-inner {
      display: grid;
      grid-template-areas:
        'nav'
        'contact'
        'connect';
      row-gap: 52px;

      @include media-breakpoint-up(lg) {
        grid-template-areas:
          'nav nav'
          'connect contact';
        row-gap: 24px;
        grid-template-columns: 340px 1fr;
      }
    }
  }

  &-nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;

    ul {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      row-gap: initial;
      column-gap: 88px;

      ul {
        width: auto;
      }
    }

    li {
      margin-bottom: 8px;
    }
  }

  &-contact {
    grid-area: contact;
    display: inline-block;

    h1 {
      margin-bottom: 8px;

      span {
        font-weight: 500;
        color: $white;
      }
    }

    p {
      text-transform: initial;
      line-height: 22px;

      a[href*='mailto'] {
        color: $brand-primary;
      }
    }
  }

  &-connect {
    grid-area: connect;
    justify-self: center;

    @include media-breakpoint-up(lg) {
      justify-self: start;
      align-self: center;
    }

    ul {
      display: flex;
      gap: 36px;
      text-align: center;

      a {
        display: block;
      }

      i[class*='fa-'] {
        color: #ff6b6b;
        font-size: 36px;
        display: block;
        margin-bottom: 8px;
      }
    }
  }

  &-secondary {
    text-align: center;
    margin-bottom: 48px;

    p {
      margin-bottom: 8px;

      img {
        vertical-align: top;
        margin-left: 4px;
      }
    }
  }
}
